<a class="badge badge-pill btn-secondary" href="/google">Google</a>
<a class="badge badge-pill btn-dark" href="/wechat">Wechat</a>

<div>
  <div class="row padding-b10">
    <div class="input-group sm-12">Step 1: Upload csv file</div>

    <div class="input-group sm-12">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">File:</span>
      </div>
      <input
        class="form-control"
        type="file"
        accept=".xlsx"
        (change)="fileChangeListener($event)"
      />
    </div>
  </div>

  <div class="row padding-b10">
    <div class="col-sm-12">
      <span>Raw Data ({{ rawRecords.length }} Records)</span>
      <!-- <ag-grid-angular
        style="width: 100%;height: 200px;"
        class="ag-theme-balham"
        [rowData]="rawRecords"
        [gridOptions]="gridOptions"
      ></ag-grid-angular> -->
    </div>
  </div>

  <div class="row padding-b10">
    .. (Date Range, Coming Soon...)
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary" (click)="parseClick()">
        Parse it
      </button>
    </div>
  </div>

  <div class="row padding-b10">
    <div class="col-sm-6">
      <span>Anomaly Data ({{ anomalyRow.length }} Records)</span>
      <ag-grid-angular
        style="width: 100%;height: 200px;"
        class="ag-theme-balham"
        [rowData]="anomalyRow"
        [columnDefs]="anomalyColumnDefs"
        [gridOptions]="gridOptions"
      ></ag-grid-angular>
      <button
        type="button"
        class="btn btn-warning"
        (click)="downloadClick('anomalyRow', true)"
      >
        Download
      </button>
    </div>

    <div class="col-sm-6">
      <span>Overload Data ({{ overloadRow.length }} Records)</span>
      <ag-grid-angular
        style="width: 100%;height: 200px;"
        class="ag-theme-balham"
        [rowData]="overloadRow"
        [columnDefs]="anomalyColumnDefs"
        [gridOptions]="gridOptions"
      ></ag-grid-angular>
      <button
        type="button"
        class="btn btn-warning"
        (click)="downloadClick('overloadRow,true')"
      >
        Download
      </button>
    </div>
  </div>

  <br />

  <div class="row padding-b10">
    <div class="col-sm-12">
      <span>Parsed Data ({{ meritRow.length }} Records)</span>
      <ag-grid-angular
        style="width: 100%;height: 200px;"
        class="ag-theme-balham"
        [rowData]="meritRow"
        [columnDefs]="meritColumnDefs"
        [gridOptions]="gridOptions"
      ></ag-grid-angular>
    </div>
    <div class="col-sm-12">
      <button
        type="button"
        class="btn btn-success"
        (click)="downloadClick('meritRow')"
      >
        Download
      </button>
    </div>
  </div>

  <div class="row padding-b10">
    <div class="col-sm-12">
      <span>User Data ({{ userRow.length }} Records)</span>
      <ag-grid-angular
        style="width: 100%;height: 200px;"
        class="ag-theme-balham"
        [rowData]="userRow"
        [columnDefs]="userColumnDefs"
        [gridOptions]="gridOptions"
      ></ag-grid-angular>
    </div>
    <div class="col-sm-12">
      <button
        type="button"
        class="btn btn-success"
        (click)="downloadClick('userRow', false, true)"
      >
        Download
      </button>
    </div>
  </div>
</div>
